<nav>
    <a href="/home">
        <!-- Photo by https://www.vectorstock.com/royalty-free-vector/food-logo-template-vector-26541668 -->
        <img src="images/logo.jpg" alt="Logo" style="width:60px;">
    </a>
    <ul>
      <li>
        <a href="/">Home</a>
     </li>
     <li>
       <a href="/allrecipes">View All Recipes</a>
    </li>
    <li>
       <a href="/admin">Admin</a>
    </li>
    </ul>
 </nav>