<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Riri's Home Baked Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="body">
<script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"> </script>
<%- include('layouts/nav'); -%>
  <section class="formSession">
    <form name="storeForm" class ="form" method="POST">
        <div> 
            <textarea id="content" name="content" placeholder="Body">
                &lt;h1&gt;Article Title&lt;/h1&gt;
                &lt;p&gt;Here's some sample text&lt;/p&gt;
            </textarea>
            <script type="text/javascript">
                CKEDITOR.replace( 'content' );
            </script>
            <input type="submit" value="Submit"/>
         
        </div>
    </form>  
</section>
</body>
<%- include('layouts/footer'); -%>
