<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
  <section>
    <form name="myform" method="Post" action="">
     <div class="formElement">
        <label>Email</label>
      <input id="email" type="text" name="email"><br/>
     </div>
      <div class="formElement">
          <label>Password</label>
      <input id="password" type="password" name="password"><br/>
      </div>


    
      
      <br/><br/>
    <div class="submitDiv">
        <input class="submitElement" type="submit" value="Submit">
      </div>
      <p id="errors">
          <%
            if (typeof (error) !== 'undefined')
            {
          %>
                <%= error %>
          <%
            }
          %>
      </p>
    </form>  
</section>
</body>
<%- include('layouts/footer'); -%>