<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
    <section >
        <div class="formData">
            <p><%= message %> </p>
        </div>
    </section>
</body>
<%- include('layouts/footer'); -%>
