<%- include('layouts/header'); -%>
<body class="body">
<%- include('layouts/nav'); -%>
<div>
    <img src="images/backgroundimg.jpg" title="main picture" alt="food picture" class="img">
    <h1 class="title">Best Home Made Recipes</h1>
    <p class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
         irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
         sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
</div>
</body>
<%- include('layouts/footer'); -%>