<%- include('layouts/header'); -%>
<body class="body">
<%- include('layouts/nav'); -%>
<div>
    <h2 class="all-recipes">Our Recipes Archieve</h2>
    <button><a href="/addrecipe">Add New</a> </button>
    <script>
        let frame;
    </script>
    <%
        let i = 1;
        for (var recipe of allRecipes)
        {
            const id = `recipe-${i}`;
            i++;
    %>
    <div>
        <iframe id="<%=recipe.id%>" width="100%" height="100%"></iframe>
        <button><a href="/editrecipe/<%=recipe.id%>">Edit</a> </button>
        <button> <a href="/deleterecipe/<%=recipe.id%>">Delete</a> </button>

    </div>
     
     <script> 
        frame = document.getElementById("<%=recipe.id%>");
        frame.contentWindow.document.open('text/html', 'replace');
        frame.contentWindow.document.write(`<%- recipe.content %>`);
        frame.contentWindow.document.close();
    </script>
    <%
        }
    %>

</div>
<%- include('layouts/footer'); -%>