body
{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman',
    Times,
    serif;
    width: 900px;
    background-color: #F2E9EB;
    color: #31383F;
}

li {
    list-style-type: none;
    display: inline;
    padding-left: 150px;
}

a {
    text-decoration: none;
    color: #31383F;
    padding: 15px;

}

.title
{
    color: #DD8EA4;
    text-align: center;
}
.text
{
    text-align: justify;
}

.img
{
    width: 900px;
    height: 550px;
}

.submitElement {
    padding: 10px;
    background-color: #FEDD89;
    border-radius: 20px;
}

.submitDiv {
    padding-top: 15px;
    padding-left: 60px;
}

.formElement
{
    padding: 15px;
}